body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: azure;
}

.Card mx-auto {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: aquamarine;
}
 :root {
    --primary: #0d6efd; /* Bootstrap primary color */
    --secondary: #6c757d; /* Secondary elements */
    --success: #52b184; /* For success messages */
    --danger: #dc3545; /* For errors and alerts */
    --warning: #ffc107; /* Warnings and cautions */
    --info: #0dcaf0; /* Informational messages */
    --light: #f8f9fa; /* Backgrounds or subtle accents */
    --dark: #212529; /* For strong text or backgrounds */
    --muted: #6c757d; /* Muted text (subtle notes) */
    --white: #ffffff;
     /* For clean backgrounds */
  }
  
